transforms3d
empy==3.3.4
catkin_pkg
PyYAML
numpy==1.23.1
rospkg
pycryptodomex
networkx
gnupg
opencv-python
carla==0.9.13
pygame
torch==2.1.0 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.16.0 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu121
pytz